[user]
	name = Ross A. Baker
	email = ross@rossabaker.com
[alias]
	st = status -s
	amend = commit --amend
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple

[url "git@github.com:"]
	insteadOf = "gh:"

[include]
	path = ~/.gitconfig_local
[magit]
	hideCampaign = true
