*.pyc

.emacs.d/*
!.emacs.d/*.el
.emacs.d/config.el
.emacs.d/custom.el
!.emacs.d/*.org

.gitconfig_local

.sbt/**/private.sbt
.sbt/**/target
.sbt/0.13/dependency/
.sbt/0.13/staging/
.sbt/0.13/templates/
.sbt/1.0/zinc/
.sbt/boot
.sbt/ghpages
.sbt/gpg
.sbt/launchers/
.sbt/repositories

.zsh/*.local
.zsh/.zcompdump
